body{
    background: url(../img/background-large.jpg) no-repeat;
    background-size: cover;   
}

h1,h2,h3,h4,h5,h6   {
    color: #eee;
    text-shadow: 3px 3px 2px #000;
}
.card h4, .card h6 {
    color: #000;
    text-shadow: 1px 1px #eee;
}


.title {
    font-size: 3.5em;
    position: sticky;
    text-align: right;
    margin-right: 5vw;
}
#message{
    text-align: center;
}

.label{
    margin: 0;
}


.picker {
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 2px solid #000;
    margin: 1em;
    position: relative;
    width: 150px;
    background: rgba(255, 255, 255, 0.6);
}

.card-img-top {
    height: 100px;
    display: block;
    margin: 0 auto;
    width: auto;
}


.description {
    position: absolute;
    bottom:0;
    left: 5px;
    right:5px;
    background: #eee;
    box-shadow: 3px 3px 30px #555;
    border-radius: 10%;
    padding: 5px;
    transition: 0.5s;
    margin: 0;
    opacity: 0;
}

.show-description{
    opacity: 1;
}

.player{
    background: rgba(144, 238, 144, 0.7);
}
.enemy{
    background: rgba(240, 128, 128, 0.7);
}
.opponent {
    background:rgba(128, 128, 128, 0.7);
}

.hide{
    display: none;
}